# $DOTFILES/.gitattributes
# Date: 2024-11-30
# Author: js0ny

* text=auto eol=lf

# Windows Batch Script, keep CRLF
*.bat text eol=crlf

yabairc linguist-language=Shell
sketchybarrc linguist-language=Shell
*.vimrc linguist-language=VimL
vsvimrc linguist-language=VimL
vimrc linguist-language=VimL
ideavimrc linguist-language=VimL

*.kbd linguist-language=Lisp


*.png binar binary
*.ico binary
*.zip binary
*.pdf binary

*.dll binary
*.pck binary
