hotkey-overlay {
    skip-at-startup
}
input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
        numlock
    }
    touchpad {
        tap
        dwt
        natural-scroll
    }
}
prefer-no-csd
layout {
    border {
        width 0
    }
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    default-column-width {
        proportion 0.5
    }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    center-focused-column "never"
}
workspace "1-master"
workspace "2-project"
workspace "3-alt"
workspace "4-info"
workspace "5-bg"

