/*
Sidebery Friendly Minimalist Style
*/
:root {
    --tab-min-height: 30px !important;
    --toolbarbutton-inner-padding: 6px !important;
}

#main-window:has(#sidebar-box:not([hidden])) #TabsToolbar {
    visibility: collapse !important;
}

#sidebar-header {
    display: none;
}
#sidebar-box {
    padding: 0 !important;
}

.buttons-wrapper {
    display: none !important;
}

#sidebar-button {
    display: none !important;
}

#sidebar-panel-header {
    display: none !important;
}
