_copy_file_path yf
_copy_page_to_clipboard <A-c>
_dict K
add_highlight H
command <A-x>
copy yy
goto_mark '
goto_next_tab L
goto_prev_tab H
goto_toc <tab>
move_down_smooth j
move_left_smooth h
move_right_smooth l
move_up_smooth k
overview_link <C-p>
close_window Q
close_window q
screen_down <C-d>
screen_up <C-u>
search <C-f>
toggle_custom_color ,d
toggle_dark_mode i
toggle_dark_mode ,D
toggle_fullscreen ,f
toggle_synctex ,s
zoom_in =
